<%- include('header') -%>

            <form action='/adicionarMembro/search' method='GET'>
            <input type='text' placeholder='Nome' name='nome'/>
            <input type='submit' value='Pesquisar' class='w3-button w3-blue' />
        </form>
        <form action='/adicionarMembro' method='POST'>
            <select name='banda'>
                <% for(var i = 0; i<bandas.length ; i++){ %>
                <option value=<%=bandas[i].nome%>><%=bandas[i].nome%></option>
                <% } %>
            </select>
            <% for(var i = 0; i<users.length ; i++){ %>
                <input type="radio" value=<%=users[i].local.username%> name='membro'><%=users[i].local.username%><br>
            <% } %>

            <div align='right'>
            <input type='submit' value='Adicionar' class='w3-button w3-blue' />
            </div>
        </form>
    </body>
</html>
