<%- include('header') -%>


        <% if(ensaios){
        for(var i=0; i<ensaios.length; i++){ %>
            <table class='w3-table'>
                <tr>
                    <th>Data: </th>
                    <td>
                        <% var data = new Date(Date.parse(eventos[i].data)) %>
                        <%=data.getDate()%>/<%=data.getMonth()+1%>/<%=data.getFullYear()%>
                        às <%=data.getHours()%>:<%if(data.getMinutes() < 10){%>0<%= data.getMinutes() %><% } else { %><%= data.getMinutes() %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Duração: </th>
                    <td>
                        <%=eventos[i].duracao%>
                    </td>
                </tr>
                <tr>
                    <th>Local: </th>
                    <td>
                        <%=eventos[i].local%>
                    </td>
                </tr>
                <tr>
                    <th>Designacao: </th>
                    <td>
                        <%=eventos[i].designacao%>
                    </td>
                </tr>
                <tr>
                    <th>Valor a pagar a cada músico: </th>
                    <td>
                        <%=eventos[i].valor%>
                    </td>
                </tr>
            </table>
        <% }} %>
        <div "form-group" align='center'>
                <form action='/novoensaio' method='POST'>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Ano</label>
                      <input type='text' placeholder='Ano' value=<%=ano%> name='ano'/>
                      <label for="exampleInputPassword1">Mês</label>
                      <input type='text' placeholder='Mês' value=<%=mes%> name='mes'/>
                      <label for="exampleInputPassword1">Dia</label>
                      <input type='text' placeholder='Dia' value=<%=dia%> name='dia'/>
                    </div>

                    <div class="form-group">
                            <label for="exampleInputPassword1">Horas</label>
                            <input type='text' placeholder='Horas' name='horas'/>
                            <label for="exampleInputPassword1">Minutos</label>
                            <input type='text' placeholder='Minutos' name='minutos'/>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">Designação</label>
                            <input type='text' placeholder='Designação' name='designacao'/>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">Duração</label>
                            <input type='text' placeholder='Duração' name='duracao'/>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">Local</label>
                            <input type='text' placeholder='Local' name='local'/>
                    </div>


                    <div class="form-group">
                            <input type='submit' value='Publicar' class="btn btn-primary" />
                            <a class="btn btn-primary" data-toggle="collapse" href="." role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Voltar
                            </a>


                    </div>

                  </form>
        </div>



    </body>
</html>
