<%- include('header') -%>


        <center><h2>Descrição da Obra</h2></center>
        <div class='container'>
        <table class="table table-hover" style='width:100%'>
            <% if(obra.titulo != ""){%>
            <tr style='width:100%'>
                <td><center><h2><%= obra.titulo %></h2></center></td>
            </tr>
            <% } %>
            <% if(obra.tipo != ""){%>
            <tr>
                <td><b>Tipo: </b><%= obra.tipo %></td>
            </tr>
            <% } %>
            <% if(obra.compositor != ""){%>
            <tr>
                <td><b>Compositor: </b><%= obra.compositor %></td>
            </tr>
            <% } %>
            <% if(obra.arranjo && obra.arranjo != "" ){%>
            <tr>
                <td><b>Arranjo: </b><%= obra.arranjo %></td>
            </tr>
            <% } %>
        </table>
        <% if(obra.instrumentos){%>
        <div class='container'>
            <div class='jumbotron'>
                <center><h3>Partituras Disponíveis</h3></center>
            </div>
            <table class='table'>
                <thead class="thead-dark">
                    <tr >
                        <td scope="col"><b>Instrumento</b></td>
                        <td scope="col"><b>Voz</b></td>
                        <td scope="col"><b>Clave</b></td>
                        <td scope="col"><b>Afinação</b></td>
                        <td scope="col"><b>Formato</b></td>
                    </tr>
                </thead>
                <%for(var j=0; j<obra.instrumentos.length; j++){%>
                <tr>
                    <td><%= obra.instrumentos[j].nome %></td>
                    <% if(obra.instrumentos[j].partitura.voz && obra.instrumentos[j].partitura.voz != "" ){%>
                    <td><%= obra.instrumentos[j].partitura.voz %></td>
                    <% } else {%>
                    <td></td>
                    <% } %>
                    <% if(obra.instrumentos[j].partitura.clave && obra.instrumentos[j].partitura.clave != "" ){%>
                    <td><%= obra.instrumentos[j].partitura.clave %></td>
                    <% } else {%>
                    <td></td>
                    <% } %>
                    <% if(obra.instrumentos[j].partitura.afinacao && obra.instrumentos[j].partitura.afinacao != "" ){%>
                    <td><%= obra.instrumentos[j].partitura.afinacao %></td>
                    <% } else {%>
                    <td></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
            </div>
        </div>
        <% } %>
    </body>
</html>
