<%- include('header') -%>

            </br>

        <center><h2>Índice de Obras</h2></center>
		<div class='container'>
            <table style='width:100%' class='table table-hover'>
                <thead>
                    <tr>
                        <td style='width:50%'><b>Título</b></td>
                        <td style='width:20%'><b>Código</b></td>
                        <td style='width:20%'><b>Partituras</b></td>
                        <td style='width:10%'><b>Vídeo/Áudio</b></td>
                    </tr>
                </thead>
                <%
                for(var i=0; i<obras.length; i++){%>
                <tr>
					<% if(obras[i].titulo != ""){%>
                    <td><a href='./<%=obras[i]._id %>'><%=obras[i].titulo %></td>
                    <% } %>
                    <td><%=obras[i]._id %></td>
                    <% if(obras[i].instrumentos != ""){%>
                    <td><%=obras[i].instrumentos.length %></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        </div>
    </body>
</html>
